@page "/TicketCenter"
@using BlazorTickets.Services
@using Shared.Models
@inject ITicketsService ticketsService 


<section class="container mt-4">
    <h1 class="mb-3">Ticket Center</h1>
    <input type="text" @bind="searchWord"  @oninput="FilterTickets" />
    <hr />
    @if (tickets != null && tickets.Any())
    {
        <div class="row">
            @foreach (var ticket in filteredTickets)
            {
                <TicketRe Ticket="@ticket" />

            }
        </div>
    }
    else
    {
        <p>No tickets available.</p>
    }
</section>


@code {
    private List<TicketModel> tickets = new();
    private List<TicketModel> filteredTickets = new();
    private string? searchWord;

    protected override async Task OnInitializedAsync()
    {
        tickets = await ticketsService.GetTickets();
        filteredTickets = tickets;
    }

    private void FilterTickets(ChangeEventArgs e)
    {
        searchWord = e.Value?.ToString();
        if (string.IsNullOrWhiteSpace(searchWord))
        {
            filteredTickets = tickets;
        }
        else
        {
            filteredTickets = tickets.Where(t => t.Title.StartsWith(searchWord, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}
