@page "/TicketCenter"
@using BlazorTickets.Services
@using Shared.Models
@inject ITicketsService ticketsService 


<section class="container mt-4">
    <h1 class="mb-3">Ticket Center</h1>
    <hr />
    @if (tickets != null && tickets.Any())
    {
        <div class="row">
            @foreach (var ticket in tickets)
            {
                <TicketRe Ticket="@ticket" />

            }
        </div>
    }
    else
    {
        <p>No tickets available.</p>
    }
</section>


@code {
    private List<TicketModel> tickets = new();

    protected override async Task OnInitializedAsync()
    {
        tickets = await ticketsService.GetTickets();
    }
}
